<table cellpadding="0" cellspacing="0"><tbody>
<tr><td style="max-width:560px;padding:24px 24px 32px;background-color:#fafafa;border:1px solid #e0e0e0;border-radius:2px">
<img style="padding:0 24px 16px 0;float:left" width="72" height="72" alt="Error Icon" src="?ui=2&amp;ik=534daed3ee&amp;view=fimg&amp;th=15c8dc87a5ef3b32&amp;attid=0.0.1&amp;disp=emb&amp;attbid=ANGjdJ8EdEJBK-TUHLfqGVeIy52bBRDRmiKfmr7dqBQctZ4eB4FWYjO1AuCGCmOy6yZxYNrz8TAv12OrBLeW-unUeVryGc6WPTpQG75E7N7gJdLrpANOH9vKdoKj6WQ&amp;sz=w144-h144&amp;ats=1497027373558&amp;rm=15c8dc87a5ef3b32&amp;zw&amp;atsh=1" class="CToWUd">
<table style="min-width:272px;padding-top:8px"><tbody>
<tr><td><h2 style="font-size:20px;color:#212121;font-weight:bold;margin:0">
{{ sbj }}
</h2></td></tr>
<tr><td style="padding-top:20px;color:#757575;font-size:16px;font-weight:normal;text-align:left">
{{ msg }}
</td></tr>
</tbody></table>
</td></tr>
</tbody></table>